/* photo */
.tab_btn_outline {
    height: 40px;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    background: #fff;
    border: 1.6px solid #111827;
    color: #111827;
    padding: 0 18px;
    cursor: pointer;
}

.tab_btn_outline:hover {
    background: #F4F4F4;
}

.display_name {
    font-weight: 500;
    font-size: 19px;
    color: #121117;
}

/* photo */

/* video */
.lat-video-preview iframe,
.video_thumbnail_img {
    width: 100%;
    height: auto;
    min-height: 238px;
}
/* .video_thumbnail_img,
.lat-video-preview iframe {
    height: 238px;
    width: 450px;
} */

.lat-callout {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    padding: 12px 16px;
    background: #CCE2FF;
    border-radius: 2px;
}

.lat-callout-text {
    font-size: 16px;
    color: #121117;
    line-height: 1.5;
}

.lat-callout svg {
    min-width: 24px;
}

/* video */