/* photo */
.tab_btn_outline {
    height: 40px;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    background: #fff;
    border: 1.6px solid #111827;
    color: #111827;
    padding: 0 18px;
    cursor: pointer;
}

.tab_btn_outline:hover {
    background: #F4F4F4;
}

.display_name {
    font-weight: 500;
    font-size: 19px;
    color: #121117;
}

/* photo */