.group_profile_sidebar_item.group_profile_active {
    color: var(--my_profile_about_text);
    font-weight: 600;
    border-left-color: transparent;
}

.group_profile_sidebar_item:hover:not(.group_profile_active){
    color: var(--muted);
}
.group_profile_sidebar_item:hover {
    background: #F4F4F4;
}


.group_profile_sidebar_item {
    position: relative;
    border-left: 4px solid transparent;
    padding: .5rem 0 .5rem 1rem;
    border-radius: 12px;
    display: block;
    color: var(--muted);
    font-weight: 500;
}

.group_profile_sidebar_item.group_profile_active::before {
    content: "";
    position: absolute;
    left: -5px;
    top: 6px;
    width: 3px;
    height: 30px;
    background: var(--accent);
    border-radius: 1px;
}