<aside>
    <nav aria-label="Profile Sections" class="space-y-1">
        <a href="#about" data-tab="about" class="group_profile_tablink group_profile_sidebar_item group_profile_active">About</a>
        <a href="#photo" data-tab="photo" class="group_profile_tablink group_profile_sidebar_item">Photo</a>
        <a href="#description" data-tab="description" class="group_profile_tablink group_profile_sidebar_item">Description</a>
        <a href="#video" data-tab="video" class="group_profile_tablink group_profile_sidebar_item">Video</a>
        <a href="#badges" data-tab="badges" class="group_profile_tablink group_profile_sidebar_item">Badges</a>
        <a href="#pricing" data-tab="pricing" class="group_profile_tablink group_profile_sidebar_item">Pricing</a>
        <a href="#logistics" data-tab="logistics" class="group_profile_tablink group_profile_sidebar_item">Logistics</a>
    </nav>
</aside>
